section{
    margin-top: 100px;
}

.sliderBg{
    background: #fceae8;
    border-radius: 10px;
}

.price{
    color: #ff136f;
}

.buyNowBtn{
    background: linear-gradient(to bottom, #ff589b, #ff136f);
    padding: 9px 25px;
    border-radius: 8px;
    margin-top: 15px;
    display: inline-block;
}